@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Main Stylesheet */
:root {
    --primary-color: #253974;
    --primary-font: 'Raleway', sans-serif
}

html, body {
    behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    min-height: 100vh;
    width: 100%;
    font-family: var(--primary-font);
    color: #202020;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h6 {
    font-size: 14px;
}
button {
    outline:none;
    border:none;
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    border-radius: 40px;
    font-family: var(--primary-font);
    padding: 20px 40px;
    font-size: 18px;
    color: #fff;
}
button:hover {
    filter: brightness(0.6);
    opacity: 0.9;
    scale: .96;
    cursor: pointer;
}

/* Main Section */
.main-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Body */
.main-grid {
    display: flex;
    justify-content: center;
    gap: 32px;
    position: relative;
    width: 100%;
    top: 3rem;
}
.vertical-text {
    font-weight: 700;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    white-space: nowrap;
    font-size: 44px;
}

/* Card Section */
.content-space-wrap {
    width: 100%;
    max-width: 1146px;
    position: relative;
}
.styled-absolute-image {
    position: absolute;
    bottom: -7rem;
    right: -7rem;
    width: 617px;
    z-index: 0;
}
.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.about-section > p {
    width: 80%;
    font-size: 20px;
    font-weight: 300;
    max-width: 695px;
    line-height: 27px;
}
.item-card-wrap {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.item-card {
    width: 100;
    max-width: 22.5rem;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px #00000029;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    cursor: pointer;
}
.item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}
.item-card > img {
    width: 100%;
    border-radius: 4px;
}
.item-card .text-space {
    padding: 20px 0;
    display: grid;
    gap: 10px;
}
.text-space > h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}
.text-space .date {
    font-weight: 200;
    font-size: 14px;
}
.text-space .content-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 23.4px;
}
.text-space > button {
    width: auto;
    margin-top: 20px;
}