@media (max-width: 728px) {
    .main-wrapper {
        max-width: 100%;
    }
    .main-grid {
        flex-direction: column;
    }
    .vertical-text {
        writing-mode:horizontal-tb;
        white-space: wrap;
    }
    .about-section {
        display: grid;
        gap: 20px;
    }
    .about-section > p {
        width: 100%;
    }
    .styled-absolute-image {
        bottom: -3rem;
        right: 0;
        width: 100%;
    }
}